.main-section {
    background-color: #F25A70;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #7C5E99;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-projetos {
    background-color: #000;
    border-color: #F25A70;
}

.main-section.-sobre {
    background-color: #7C5E99;
    border-color: #000
}

.main-section.-contato {
    background-color: #3A4042;
}